.menu-container{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 0px auto;
    padding: 5px;

}
.person-logo{
    display: flex;
   align-items: baseline; 
   margin-left: 20px;

}
.logo{
    width: 15px;
    height: 15px;
    padding-right: 5px;
}
.name{
    color: #f8236a;
    
}
.menu-item {
    display: flex;
    margin-left: 700px;
    justify-content: space-evenly;
    list-style: none;
    
}
li{
    margin-right: 15px; 
    font-size: 15px;
}
li:hover{
    color: #f8236a;
    cursor: pointer;


}
.portfolio{
    font-family: 'Roboto', sans-serif;
   
}
.header{
    display: flex;
    justify-content: space-evenly;
}
#headline{
    font-size: 84px;
    color: rgb(3, 136, 245);
}
.upoma{
    color: #f8236a;
}
.image2{
    width: 350px;
    margin-right: 60px;
    margin-top: 60px;

}
.welcome{
    color: #e95c25;
    font-size: 36px;
}
.focal-points{
    padding-left: 110px;
    padding-right: 70px;
}
.link-button{
    text-decoration: none;
    background-color: #f8236a;
    padding: 5px 10px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    
}
p{
    padding-bottom: 40px;
   

}
.About-Me{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.about-image{
    width: 350px;
    margin-left: 110px;
}
.about-text{
    padding-left: 110px;
    padding-right: 70px;
}
h4{
    color: #e95c25;
    font-size: 36px;

}
.projets{
    justify-content: space-evenly;
    margin-top: 100px;
}
.pro-text{
    padding-left: 110px;
    padding-right: 70px;
}
.images{
    display: flex;
    margin-left: 80px;
}
.img{
    width: 150px;
    margin: 3px;
    padding-left: 20px;
    transition: width 2s;
}
.button2{
    padding-left: 100px;
    padding-top: 50px;
}
.img:hover{
    width: 300px;
    height: 400px;
  }